body {
    background-color: rgb(252, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

}


/* parent element */
#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* children element */
#generator-box {
    height: 727px;
    padding: 61px;
    width: 100%;
    background-color: white;
    border-radius: 16px;

}



h1,
h5 {
    text-align: center;
}

p {
    color: rgb(199, 198, 198);
    font-weight: 600;
}

h5 {
    margin-top: 60px;
    font-weight: lighter;
    font-size: 20px;
}

h1 {
    color: rgb(199, 198, 198);
    font-weight: lighter;
}


/* div that contains all of the buttons */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    gap: 122px;
}


#dryskin-btn,
#oilyskin-btn {
    padding: 25px;
    border-radius: 7px;
    background-color: rgb(252, 240, 240);


}

#product-box {
    text-align: center;
}


.waviy {
    position: relative;
    text-align: center;
}

/* ANIMATION */
.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: rgb(199, 198, 198);
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}



/* MEDIA QUERIES */